.Addproducthome {
    display: flex;


.ImageSection {
    width:25rem;
    margin-left: 2vw;
    border-style: solid;
    border-color: grey;
    border-width: thin;
    display: flex;
}
.Products_Paramter_Section {
   
    margin-left: 2vw;
    height: 20rem;
    border-style: solid;
    border-color:  grey;
    border-width: thin;
    display: flex;
}
.Image_Textfields_Parameter_Section {
    display: flex;
    margin-top: 2rem;
   // margin-left: 7rem;
      margin-left: 0rem;
    width: min-content;
}
.Products_Description_Section {
    
    margin-top: 10px;
    margin-left: 2vw;
    height: 10vw;
    
}

.Products_Submit_Button_Section {
    width: 81vw;
    margin-top: 6px;
    margin-left: 2vw;
    height: 5vw;
    display: flex;
}

.Add_Product_Top {
    width: 81vw;
    margin-top: 5px;
    margin-left: 2vw;
    height: 5vw;
    background-color:'grey'
}
.Add_Product_Bottom {
    width: 81vw;
    margin-top: 6px;
    margin-left: 2vw;
    height: 5vw;
}
.Border_Color {
    border-style: solid;
    border-color:  grey;
    
}
}
