.ImageSection {
    width: 25vw;
    margin-left: 2vw;
    height: 23vw;
    border-style: solid;
    border-color: grey;
    border-width: thin;
}
.Products_Paramter_Section {
    width: 54vw;
    margin-left: 2vw;
    height: 23vw;
    border-style: solid;
    border-color:  grey;
    border-width: thin;
}
.Image_Textfields_Parameter_Section {
    display: flex;
    margin-top: 15px;
}
.Products_Description_Section {
    width: 81vw;
    margin-top: 10px;
    margin-left: 2vw;
    height: 10vw;
    
}

.Products_Submit_Button_Section {
    width: 81vw;
    margin-top: 6px;
    margin-left: 2vw;
    height: 5vw;
}

.Add_Product_Top {
    width: 81vw;
    margin-top: 5px;
    margin-left: 2vw;
    height: 5vw;
    background-color:'grey'
}
.Add_Product_Bottom {
    width: 81vw;
    margin-top: 6px;
    margin-left: 2vw;
    height: 5vw;
}
.Border_Color {
    border-style: solid;
    border-color:  grey;
    
}