$small: 360px;
$small_medium: 375px;
$medium: 900px;
$isBigScreen: 1824px;
$isTabletOrMobile: 1224px;
$isPortrait: '(orientation: portrait)';
$isRetina: 2dppx;
$isDesktopOrLaptop: 1224px;
$isBigScreen: 1824px;


.productCust {
background-color: white;
width: 80vw;
margin-left: 40px;
}


    // body {
    //     .productCust {
    //        margin-top: 23vw;

    //         h2 {
    //             color: white;
    //             font-family: sans-serif;
    //         }

    //     }
    // }

